---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_SECRET_KEY&location=tokyo,japan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Nov 2020 03:34:40 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"tokyo,japan"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tokyo","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"JP","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282817722","unknownInput":"","type":"s","latLng":{"lat":35.680071,"lng":139.768522},"displayLatLng":{"lat":35.680071,"lng":139.768522},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_SECRET_KEY&type=map&size=225,160&locations=35.680071,139.768522|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1493383296"}]}]}'
  recorded_at: Wed, 11 Nov 2020 03:34:40 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_SECRET_KEY&exclude=minutely&lat=35.680071&lon=139.768522&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.68,"lon":139.77,"timezone":"Asia/Tokyo","timezone_offset":32400,"current":{"dt":1605065681,"sunrise":1605042765,"sunset":1605080236,"temp":61.54,"feels_like":51.67,"pressure":1027,"humidity":34,"dew_point":32.94,"uvi":2.78,"clouds":20,"visibility":10000,"wind_speed":11.41,"wind_deg":330,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1605063600,"temp":61.54,"feels_like":49.41,"pressure":1027,"humidity":34,"dew_point":32.94,"clouds":20,"visibility":10000,"wind_speed":15.43,"wind_deg":357,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1605067200,"temp":60.67,"feels_like":49.3,"pressure":1027,"humidity":33,"dew_point":31.51,"clouds":24,"visibility":10000,"wind_speed":13.69,"wind_deg":2,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1605070800,"temp":60.1,"feels_like":49.75,"pressure":1028,"humidity":33,"dew_point":31.06,"clouds":37,"visibility":10000,"wind_speed":11.77,"wind_deg":4,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon[...]
