---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_SECRET_KEY&location=newyork,newyork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 18:35:16 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"newyork,newyork"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        York","adminArea5Type":"City","adminArea4":"New York County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040974","unknownInput":"","type":"s","latLng":{"lat":40.713054,"lng":-74.007228},"displayLatLng":{"lat":40.713054,"lng":-74.007228},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_SECRET_KEY&type=map&size=225,160&locations=40.713054,-74.007228|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-726448336"}]}]}'
  recorded_at: Mon, 09 Nov 2020 18:35:16 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_SECRET_KEY&exclude=minutely&lat=40.713054&lon=-74.007228&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.71,"lon":-74.01,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1604946916,"sunrise":1604921784,"sunset":1604958211,"temp":74.61,"feels_like":72.1,"pressure":1026,"humidity":38,"dew_point":47.35,"uvi":2.8,"clouds":1,"visibility":10000,"wind_speed":3.36,"wind_deg":200,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1604944800,"temp":74.61,"feels_like":70.59,"pressure":1026,"humidity":38,"dew_point":47.35,"clouds":1,"visibility":10000,"wind_speed":6.02,"wind_deg":235,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1604948400,"temp":72.64,"feels_like":69.24,"pressure":1026,"humidity":43,"dew_point":48.88,"clouds":1,"visibility":10000,"wind_speed":5.64,"wind_deg":230,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1604952000,"temp":71.47,"feels_like":68.4,"pressure":1025,"humidity":49,"dew_point":51.33,"clouds":0,"visibility":10000,"wind_speed":6.24,"wind_deg":230,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}][...]
