---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_SECRET_KEY&location=tokyo,japan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 27 Nov 2020 22:11:47 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"tokyo,japan"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tokyo","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"JP","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282817722","unknownInput":"","type":"s","latLng":{"lat":35.680071,"lng":139.768522},"displayLatLng":{"lat":35.680071,"lng":139.768522},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_SECRET_KEY&type=map&size=225,160&locations=35.680071,139.768522|marker-sm-50318A-1&scalebar=true&zoom=12&rand=986773525"}]}]}'
  recorded_at: Fri, 27 Nov 2020 22:11:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_SECRET_KEY&exclude=minutely&lat=35.680071&lon=139.768522&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.68,"lon":139.77,"timezone":"Asia/Tokyo","timezone_offset":32400,"current":{"dt":1606515108,"sunrise":1606512575,"sunset":1606548513,"temp":50.97,"feels_like":44.55,"pressure":1010,"humidity":87,"dew_point":47.25,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":10.29,"wind_deg":10,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1606514400,"temp":50.97,"feels_like":45.64,"pressure":1010,"humidity":87,"dew_point":47.25,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":8.34,"wind_deg":338,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1606518000,"temp":53.83,"feels_like":41.47,"pressure":1010,"humidity":67,"dew_point":43.14,"uvi":0.34,"clouds":11,"visibility":10000,"wind_speed":19.15,"wind_deg":331,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1606521600,"temp":55.99,"feels_like":39.7,"pressure":1011,"humidity":50,"dew_point":37.63,"uvi":0.89,"clouds":6,"visibility":10000,"wind_speed":24.2,"wind_deg":337,"weather":[{"id":800,"main":"Clear","description":"clear
 [...]
