---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_SECRET_KEY&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604785202,"sunrise":1604756162,"sunset":1604793077,"temp":294.68,"feels_like":285.25,"pressure":1004,"humidity":21,"dew_point":271.65,"uvi":3.29,"clouds":75,"visibility":10000,"wind_speed":10.3,"wind_deg":200,"wind_gust":15.9,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1604785260,"precipitation":0},{"dt":1604785320,"precipitation":0},{"dt":1604785380,"precipitation":0},{"dt":1604785440,"precipitation":0},{"dt":1604785500,"precipitation":0},{"dt":1604785560,"precipitation":0},{"dt":1604785620,"precipitation":0},{"dt":1604785680,"precipitation":0},{"dt":1604785740,"precipitation":0},{"dt":1604785800,"precipitation":0},{"dt":1604785860,"precipitation":0},{"dt":1604785920,"precipitation":0},{"dt":1604785980,"precipitation":0},{"dt":1604786040,"precipitation":0},{"dt":1604786100,"precipitati[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_SECRET_KEY&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 18:26:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_SECRET_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1996231683"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_SECRET_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-962571037"}]}]}'
  recorded_at: Mon, 09 Nov 2020 18:26:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_SECRET_KEY&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604946364,"sunrise":1604929101,"sunset":1604965761,"temp":34.3,"feels_like":25.2,"pressure":1011,"humidity":66,"dew_point":25.05,"uvi":2.5,"clouds":90,"visibility":8047,"wind_speed":8.05,"wind_deg":50,"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50d"}]},"hourly":[{"dt":1604944800,"temp":34.3,"feels_like":25.41,"pressure":1011,"humidity":66,"dew_point":25.05,"clouds":90,"visibility":10000,"wind_speed":7.67,"wind_deg":12,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.3},{"dt":1604948400,"temp":37.78,"feels_like":29.16,"pressure":1010,"humidity":65,"dew_point":27.66,"clouds":85,"visibility":10000,"wind_speed":7.78,"wind_deg":39,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.35},{"dt":1604952000,"temp":39.36,"feels_like":31.01,"pressure":1009,"humidity":66,"dew_point":29.32,"clouds":90,"visibility":10000,"wind_speed":7.74,"wind_deg":51,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.38,"rain":{"1h":0.32}},{"dt":1604955600,"temp":39.09,"feels_like":32.47,"pressure":1008,"humidity":71,"dew_point":30.69,"clouds":94,"visibility":3007,"wind_speed":5.03,"wind_deg":40,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.47},{"dt":1604959200,"temp":37.6,"feels_like":30.25,"pressure":1008,"humidity":79,"dew_point":31.73,"clouds":95,"visibility":1601,"wind_speed":6.62,"wind_deg":51,"weather":[{"id":804,"main":"Clouds","description":"overcast
     [...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_SECRET_KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 18:35:15 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
 [...]
