---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=zNSOFAF4GSSlCDkob_piOkcGE6rAIhRG1UgqNpSTHH8&orientation=landscape&page=1&per_page=1&query=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=zNSOFAF4GSSlCDkob_piOkcGE6rAIhRG1UgqNpSTHH8&orientation=landscape&page=10117&per_page=1&query=San+Francisco%2C+CA>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=zNSOFAF4GSSlCDkob_piOkcGE6rAIhRG1UgqNpSTHH8&orientation=landscape&page=2&per_page=1&query=San+Francisco%2C+CA>;
        rel="next"
      X-Total:
      - '10117'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10117,"total_pages":10117,"results":[{"id":"pDibl_hw154","created_at":"2020-06-09T11:07:27-04:00","updated_at":"2020-11-10T08:18:26-05:00","promoted_at":null,"width":2667,"height":2000,"color":"#2F3132","blur_hash":"LcGlFzxas:Rj0LRkRjt7%MoLofWB","description":null,"alt_description":"woman
        in green dress sitting on white bench during daytime","urls":{"raw":"https://images.unsplash.com/photo-1591714877306-1410bb48ef38?ixlib=rb-1.2.1\u0026ixid=eyJhcHBfaWQiOjE4MTA0N30","full":"https://images.unsplash.com/photo-1591714877306-1410bb48ef38?ixlib=rb-1.2.1\u0026q=85\u0026fm=jpg\u0026crop=entropy\u0026cs=srgb\u0026ixid=eyJhcHBfaWQiOjE4MTA0N30","regular":"https://images.unsplash.com/photo-1591714877306-1410bb48ef38?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026cs=tinysrgb\u0026w=1080\u0026fit=max\u0026ixid=eyJhcHBfaWQiOjE4MTA0N30","small":"https://images.unsplash.com/photo-1591714877306-1410bb48ef38?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026cs=tinysrgb\u0026w=400\u0026fit=max\u0026ixid=eyJhcHBfaWQiOjE4MTA0N30","thumb":"https://images.unsplash.com/photo-1591714877306-1410bb48ef38?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026cs=tinysrgb\u0026w=200\u0026fit=max\u0026ixid=eyJhcHBfaWQiOjE4MTA0N30"},"links":{"self":"https://api.unsplash.com/photos/pDibl_hw154","html":"https://unsplash.com/photos/pDibl_hw154","download":"https://unsplash.com/photos/pDibl_hw154/download","download_location":"https://api.unsplash.com/photos/pDibl_hw154/download"},"categories":[],"likes":14,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"hBpYHHajQRc","updated_at":"2020-10-30T22:39:05-04:00","username":"joshuaaaronlewis","name":"Joshua
        Lewis","first_name":"Joshua","last_name":"Lewis","twitter_username":"Joshualewis","portfolio_url":null,"bio":"Gratefulness
        - Wonder - Joy - Jesus - Beauty\r\nwww.anthemdenver.org\r\n","location":"Denver
        Colorado","links":{"self":"https://api.unsplash.com/users/joshuaaaronlewis","html":"https://unsplash.com/@joshuaaaronlewis","photos":"https://api.unsplash.com/users/joshuaaaronlewis/photos","likes":"https://api.unsplash.com/users/joshuaaaronlewis/likes","portfolio":"https://api.unsplash.com/users/joshuaaaronlewis/portfolio","following":"https://api.unsplash.com/users/joshuaaaronlewis/following","followers":"https://api.unsplash.com/users/joshuaaaronlewis/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1591627200919-f212a26cad98image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1591627200919-f212a26cad98image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1591627200919-f212a26cad98image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":0,"total_likes":15,"total_photos":17,"accepted_tos":true},"tags":[{"type":"search","title":"human"},{"type":"landing_page","title":"person","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"people","pretty_slug":"People"}},"title":"People
        Images \u0026 Pictures","subtitle":"Download free people images","description":"Human
        faces speak to us in a way that language cannot. Everyone recognize a smile,
        a frown, tears. Unsplash has the finest selection of people images on the
        web: high-def and curated for quality. Family, friends, men, women, Unsplash
        has photos for all.","meta_title":"People Pictures [HQ] | Download Free Images
        on Unsplash","meta_description":"Choose from hundreds of free people pictures.
        Download HD people photos for free on Unsplash.","cover_photo":{"id":"PmNjS6b3XP4","created_at":"2017-04-20T18:04:07-04:00","updated_at":"2020-10-21T01:05:39-04:00","promoted_at":"2017-04-21T12:00:49-04:00","width":4630,"height":3087,"color":"#272D35","blur_hash":"LjI=x%:QUbv#NHWVa}kCt7jFjZfQ","description":"Summer
        in France with baby","alt_description":"woman carrying baby while walking","urls":{"raw":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ix[...]
