---
http_interactions:
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=TRAILS_SECRET_KEY&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 3be8ec65-07b5-43ed-b7d2-e783ed469bab
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7011192,
                    "name": "Boulder Skyline Traverse",
                    "type": "Recommended Route",
                    "summary": "The classic long mountain route in Boulder.",
                    "difficulty": "black",
                    "stars": 4.7,
                    "starVotes": 93,
                    "location": "Superior, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7011192\/boulder-skyline-traverse",
                    "imgSqSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7039883_sqsmall_1555092747.jpg",
                    "imgSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7039883_small_1555092747.jpg",
                    "imgSmallMed": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7039883_smallMed_1555092747.jpg",
                    "imgMedium": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7039883_medium_1555092747.jpg",
                    "length": 17.3,
                    "ascent": 5446,
                    "descent": -5524,
                    "high": 8446,
                    "low": 5424,
                    "longitude": -105.2582,
                    "latitude": 39.9388,
                    "conditionStatus": "All Clear",
                    "conditionDetails": "Dry",
                    "conditionDate": "2020-09-16 14:37:11"
                },
                {
                    "id": 7000130,
                    "name": "Bear Peak Out and Back",
                    "type": "Recommended Route",
                    "summary": "A must-do hike for Boulder locals and visitors alike!",
                    "difficulty": "black",
                    "stars": 4.6,
                    "starVotes": 122,
                    "location": "Boulder, Colorado",
                    "url": "https:\/\/www.hiki[...]
